<div *ngIf="loged; else elseBlockLog">
    <app-navbar [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth" (onToggleNavBar)="onToggleNavBar($event)">
    </app-navbar>
    <app-sidenav [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"
        (onToggleSideNav)="onToggleNavBar($event)">
    </app-sidenav>
    <app-body [collapsed]="isSideNavCollapsed" [screenWidth]="screenWidth"></app-body>
</div>

<ng-template #elseBlockLog>
    <div *ngIf="login;else elseregister">
        <app-login></app-login>
    </div>
    <ng-template #elseregister>
        <app-register></app-register>
    </ng-template>
</ng-template>


<div *ngIf="modalinf; else elseBlock">
    <app-modal> </app-modal>
</div>
<ng-template #elseBlock></ng-template>


<div *ngIf="modalcamp; else elseBlock">
    <app-modal-camp></app-modal-camp>
</div>
<ng-template #elseBlock></ng-template>

<div *ngIf="modalcavniv; else elseBlock">
    <app-modal-vacc-inven></app-modal-vacc-inven>
</div>
<ng-template #elseBlock></ng-template>

<div *ngIf="modalinfovacc; else elseBlock">
    <app-modal-regis-inf-vacc></app-modal-regis-inf-vacc>
</div>
<ng-template #elseBlock></ng-template>

<div *ngIf="modalvacccamp">
    <app-modal-camp-vacc-p></app-modal-camp-vacc-p>
</div>