/* Title page*/
.page-heading {
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 300;
}

.page-header {
    margin-bottom: 3rem;
}

.card-table {
    overflow: hidden;
}

.card-header:first-child {
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0;
}

/*Titulo*/
.card-heading {
    margin-bottom: 0;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.card-header {
    position: relative;
    padding: 2rem 2rem;
    border-bottom: none;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    z-index: 2;
}


/* search and num of results*/

.label1 {
    margin-right: 8px;
    font-weight: bold;
}

label {
    display: inline-block;
}

.card-table .dataTable-top{
    padding: 1rem 3rem;
    background: #f8f9fa;
    margin-bottom: 3%;
    margin-top: 0.5%;
}

.dataTable-top {
    position: relative;
    padding: 8px 10px;
    font-size: .7875rem;
    background: #f8f9fa;
}

label {
    display: inline-block;
}

.dataTable-top>div:last-child {
    float: left;
}

/*Tabla*/
.dataTable-table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

.text-gray-700 {
    color: #495057 !important;
}

.child {
    padding-left: 2rem;
}

.card-table .dataTable-table>thead>tr>th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
    vertical-align:middle;
    border-bottom: 1px solid #d9d9d9;
}

.card-table thead th {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fff;
    border-bottom-width: 0;
    background: #343a40;
    font-size: 13px;
}

.dataTable-table th a {
    text-decoration: none;
    color: inherit;
}

.dataTable-sorter {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 10px;
}

a {
    transition: all .3s;
}

.card-table .dataTable-sorter::before {
    opacity: .4;
    border-top: 4px solid #fff;
}


/*indicator*/
.badge-info-light {
    color: #17a2b8;
    background-color: #d1ecf1;
}

.badge-info-light .indicator {
    background: #17a2b8;
}

.badge .indicator {
    width: 6px;
    height: 6px;
}

.indicator {
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: currentColor;
}

.badge-warning-light {
    color: #ffc107;
    background-color: #fff3cd;
}

.badge-danger-light {
    color: #dc3545;
    background-color: #f8d7da;
}

.badge-success-light {
    color: #03cfb7;
    background-color: #cdf5f1;
}

/*title columns*/
.card-table .dataTable-sorter::after {
    opacity: .4;
    border-bottom: 4px solid #fff;
}

.dataTable-sorter::after {
    position: absolute;
    top: 0px;
    right: 4px;
    width: 0;
    height: 0;
    content: "";
    opacity: .2;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #000;
    border-left: 4px solid transparent;
}

.card-table .dataTable-sorter::before {
    opacity: .4;
    border-top: 4px solid #fff;
}

.dataTable-sorter::before {
    position: absolute;
    right: 4px;
    bottom: 0px;
    width: 0;
    height: 0;
    content: "";
    opacity: .2;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

/*table progres*/

.progress-table {
    flex-grow: 1;
    height: 0.25rem;
}

.progress {
    display: flex;
    height: 0.5rem;
    overflow: hidden;
    font-size: 0.675rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #4650dd;
    transition: width .6s ease;
}

.progress-table {
    flex-grow: 1;
    height: 0.25rem;
}

/*text table*/
.text-sm {
    font-size: .7875rem !important;
}

.text-gray-700 {
    color: #495057 !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.align-items-center {
    align-items: center !important;
}

.d-flex {
    display: flex !important;
}

/* foot*/
.card-table{
    background: #f8f9fa;
}

.dataTable-bottom{
    padding: 2rem;
    background: #f8f9fa;
}

.dataTable-bottom>div:first-child {
    float: left;
}

.dataTable-bottom>nav:last-child {
    float: right;
}

.dataTable-pagination li {
    float: left;
    list-style: none;
    position: relative;
    padding: 1px 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: 1rem;border: none;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    align-content: center;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dataTable-pagination ul {
    margin: 0;
    padding-left: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.dataTable-pagination .active a {
    cursor: default;
    background-color: #d9d9d9;
}

.dataTable-pagination a {
    position: relative;
    float: left;
    margin-left: 2px;
    padding: 1px 5px;
    text-decoration: none;
    color: #333;
    border: 1px solid transparent;
}

a {
    transition: all .3s;
}

.dataTable-info {
    margin: 1px 0;
}

.card-table .card-body {
    padding: 0;
}

/*eye*/

.eye {
    font-size: 20px;
    color: #3a3df1;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
}


.td{
    padding: 2% 2% 2% 2%;
}

.dataTable-wrapper {
    overflow-x: auto;
    max-width: 100%;
}

.card-table .dataTable-wrapper {
    background: #f8f9fa;
}

.dataTable-input{
padding: 0%;
}


.boxeye{
    border: #3a3df1;
}

.bteye{
    cursor: pointer;
}

.List{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 8%;
    margin-top: 3%;
}