<div class="container mt-5 mb-5" *ngIf="toggleShow">
    <div class="card">
        <div class="card-body p-lg-5">
            <form action="form-horizontal">
                <div class="row mb-3">
                    <label class="child_text col-md-3 form-label">Child # {{cont+1}}</label>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Nombres</label>
                    <div class="col-md-9">
                        <input class="form-control" type="tel" placeholder="Nombres" pattern="[0-9]{9}"
                            [(ngModel)]="usuario.nombre" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Apellidos</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Apellidos" [(ngModel)]="usuario.apellido"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Genero</label>
                    <div class="col-md-9">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.genero"
                            [ngModelOptions]="{standalone: true}">
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Localización</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Localización" [(ngModel)]="usuario.dni"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="form-group align-items-center">
                    <button class="btn btn-primary" id="regidter" type="submit" (click)="Register()"
                        name="registerSubmit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>