<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body p-lg-5">
            <form action="form-horizontal">
                <div class="row mb-3">
                    <label class="col-md-3 form-label">DNI</label>
                    <div class="col-md-9">
                        <input class="form-control" type="tel" placeholder="DNI" [(ngModel)]="usuario.dni"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Nombre</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Nombre" [(ngModel)]="usuario.firstName"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Apellido</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Apellido" [(ngModel)]="usuario.lastName"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Email</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Email" [(ngModel)]="usuario.email"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Contraseña</label>
                    <div class="col-md-9">
                        <input class="form-control" type="password" placeholder="Contraseña"
                            [(ngModel)]="usuario.password" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Tipo de usuario</label>
                    <div class="col-md-9">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="tipeuser"
                            [ngModelOptions]="{standalone: true}">
                            <option value="1">Parent</option>
                            <option value="2">Health Personnel</option>
                        </select>
                    </div>
                </div>
                <div class="form-group align-items-center">
                    <button class="btn btn-primary" id="regidter" type="submit" (click)="Register()"
                        name="registerSubmit">Registrar</button>

                    <button class="btnlogin btn btn-primary" id="regidter" type="submit" (click)="Login()"
                        name="registerSubmit">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="showpageP; else elseRegister">
    <app-parentform [parentData]="usuario"></app-parentform>

</div>

<ng-template #elseRegister>

</ng-template>