<div class="container mt-5 mb-5">
    <div class="card">
        <div class="card-body p-lg-5">
            <form action="form-horizontal">
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Telefono</label>
                    <div class="col-md-9">
                        <input class="form-control" type="tel" placeholder="Telefono" pattern="[0-9]{9}"
                            [(ngModel)]="usuario.telefono" [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Genero</label>
                    <div class="col-md-9">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="usuario.genero"
                            [ngModelOptions]="{standalone: true}">
                            <option value="1">Masculino</option>
                            <option value="2">Femenino</option>
                            <option value="3">Otro</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label">Localización</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="Localización" [(ngModel)]="usuario.local"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-3 form-label"># de Registros de niños</label>
                    <div class="col-md-9">
                        <input class="form-control" type="email" placeholder="#" [(ngModel)]="usuario.contchild"
                            [ngModelOptions]="{standalone: true}" />
                    </div>
                </div>
                <div class="form-group align-items-center">
                    <button class="btn btn-primary" id="regidter" type="submit" (click)="Register()"
                        name="registerSubmit">Registrar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="togglechildform; else elseRegister">
    <app-childform [countform]="usuario.contchild" [parentdata]="union"></app-childform>
</div>

<ng-template #elseRegister>

</ng-template>